* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background: #d9f8dbf6;
	padding: 15px;
}
button{
    position:relative;
    font-size: 20px;
    display: inline-block;
    background: transparent;
    border-width:0px;
    outline:none;
    color:rgb(184, 184, 184);
}
#category button:hover{
    color:blanchedalmond;
    text-decoration: underline;
}
#category{
    background-color: #363;
    text-align: center;
}
p{
    display:block;
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:navy;
}
